{
  "presets": [
    ["env", { "targets": { "node": "current" } }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } }]
      ]
    }
  },
  "plugins": [
    ["transform-react-jsx",  { "pragma": "h", "pragmaFrag": "''" }],
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}