{
  "presets": ["@babel/env"],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    }
  },
  "plugins": [
    ["@babel/plugin-transform-react-jsx",  { "pragma": "h", "pragmaFrag": "''" }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ]
}